<div class="card mb-3 w-100">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{profileOwner.image}}" class="card-img w-75 mx-2 my-2" alt="user image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{profileOwner.name}}</h5>
        <p class="card-text">{{profileOwner.email}}</p>

        {{#if editRight}}
          <a class="btn btn-primary" href="/users/{{profileOwner.id}}/edit">Edit Profile</a>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="container w-100">

  <div class="row">
    <div class="card mx-auto" style="width: 45%;">
      <div class=" card-header font-weight-bold w-100">
        {{count}} commented restaurants
      </div>
      <div class="card-body d-flex">

        {{#each restaurants}}
          <div class="mr-3">
            <a href="/restaurants/{{this.id}}">
              <img src="{{this.image}}" style="width: 200px;">
              <p>{{this.name}}</p>
            </a>
          </div>
        {{/each}}
      </div>
    </div>


    <div class="card mx-auto" style="width: 45%;">
      <div class="card-header font-weight-bold w-100">
        {{count}} followers
      </div>
      <div class="card-body d-flex">

        {{#each restaurants}}
          <div class="mr-3">
            <a href="/restaurants/{{this.id}}">
              <img src="{{this.image}}" style="width: 200px;">
              <p>{{this.name}}</p>
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="card mx-auto" style="width: 45%;">
      <div class="card-header font-weight-bold w-100">
        {{count}} followed by you
      </div>
      <div class="card-body d-flex">

        {{#each restaurants}}
          <div class="mr-3">
            <a href="/restaurants/{{this.id}}">
              <img src="{{this.image}}" style="width: 200px;">
              <p>{{this.name}}</p>
            </a>
          </div>
        {{/each}}
      </div>
    </div>

    <div class="card mx-auto" style="width: 45%;">
      <div class="card-header font-weight-bold w-100">
        {{count}} favorite restaurants
      </div>
      <div class="card-body d-flex">

        {{#each restaurants}}
          <div class="mr-3">
            <a href="/restaurants/{{this.id}}">
              <img src="{{this.image}}" style="width: 200px;">
              <p>{{this.name}}</p>
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>